extends layout/common

block firsthead
  link(rel="stylesheet", href=cdn + "lib/ionic/css/ionic.css")

block lasthead
  link(rel="stylesheet", href=cdn + "css/page.css")

block footer
  script(src=cdn + "lib/zepto/zepto.js")
  script(src=cdn + "lib/zepto/zepto-fx.js")
  script(src=cdn + "lib/ionic/js/ionic.js")
  script(src=cdn + "lib/angular/angular.js")
  script(src=cdn + "lib/ionic/js/angular/angular-animate.js")
  script(src=cdn + "lib/ionic/js/angular/angular-sanitize.js")
  script(src=cdn + "lib/ionic/js/angular-ui/angular-ui-router.js")
  script(src=cdn + "lib/ionic/js/ionic-angular.js")
  script(src=cdn + "js/app.js")
  script(src=cdn + "js/app.routes.js")
  script(src=cdn + "js/services/page.js")
  script(src=cdn + "js/services/movieData.js")
  script(src=cdn + "js/services/queryString.js")
  script(src=cdn + "js/services/util.js")
  script(src=cdn + "js/controllers/home.js")
  script(src=cdn + "js/controllers/publish.js")
  script(src=cdn + "js/controllers/detail.js")
  script(src=cdn + "js/controllers/feeds.js")
  script.
    angular.module('appViewCache', []);//prevent error on dev mode
